## Importing libraries

In [ ]:
import pandas as pd
import matplotlib as plt
import warnings
warnings.filterwarnings('ignore')

# setting view
pd.set_option('display.max_column',None)
pd.set_option('display.width',1000)

In [ ]:
# loading the data
path="../Dataset/eletronic_sales.xlsx"
sale_data= pd.read_excel(path)

In [ ]:
# getting snap shot of the data
print(sale_data.head())
print("")
print(sale_data.info())
print("")
print(sale_data.describe())

In [ ]:
# checking the missing value
print(sale_data.isnull().sum())
print("")
print(sale_data.isna().sum())

In [ ]:
# duplicate check
sale_data=sale_data.drop_duplicates()
print(sale_data.info())

In [35]:
# feature engineering

# adding column total sale (unit * price)
sale_data['Total Sales']=sale_data['Units']* sale_data['Price']
print(sale_data)

         Date Branch Sales Agent Products  Units   Price  Total Sales
0  2014-09-01   Woji     Chinedu    Apple      2  125.00       250.00
1  2015-06-17   Woji       Emeka    Apple      5  125.00       625.00
2  2015-09-10   Woji     Ibrahim   Lenovo      7    1.29         9.03
3  2015-11-17   Woji        Tolu       HP     11    4.99        54.89
4  2015-10-31   Woji       Tonye   Lenovo     14    1.29        18.06
5  2014-02-26   Woji     Ibrahim   Compaq     27   19.99       539.73
6  2014-10-05   Woji      George       HP     28    8.99       251.72
7  2015-12-21   Woji       Tonye       HP     28    4.99       139.72
8  2014-02-09   Woji        Tolu   Lenovo     36    4.99       179.64
9  2015-08-07   Woji       Emeka     Dell     42   23.95      1005.90
10 2015-01-15   Woji     Ibrahim       HP     46    8.99       413.54
11 2014-01-23   Woji       Emeka       HP     50   19.99       999.50
12 2015-03-24   Woji        Tolu     Dell     50    4.99       249.50
13 2015-05-14   Woji     Ibrahim   Lenovo     53    1.29        68.37
14 2015-07-21   Woji      George     Dell     55   12.49       686.95
15 2015-04-10   Woji       Tonye   Lenovo     66    1.99       131.34
16 2014-12-12   Woji     Chinedu   Lenovo     67    1.29        86.43
17 2014-04-18   Woji       Tonye   Lenovo     75    1.99       149.25
18 2015-05-31   Woji     Ibrahim       HP     80    8.99       719.20
19 2015-02-01   Woji     Chinedu       HP     87   15.00      1305.00
20 2014-05-05   Woji        Tolu   Lenovo     90    4.99       449.10
21 2014-06-25   Woji      George   Lenovo     90    4.99       449.10
22 2015-12-04   Woji        Tolu       HP     94   19.99      1879.06
23 2014-11-25   Woji       Emeka     Dell     96    4.99       479.04
24 2015-02-18    GRA    Blessing       HP      4    4.99        19.96
25 2014-11-08    GRA      Chioma   Compaq     15   19.99       299.85
26 2014-09-18    GRA    Blessing     Dell     16   15.99       255.84
27 2014-07-12    GRA     Torbari       HP     29    1.99        57.71
28 2014-08-15    GRA    Blessing   Lenovo     35    4.99       174.65
29 2014-04-01    GRA    Blessing       HP     60    4.99       299.40
30 2014-06-08    GRA    Blessing       HP     60    8.99       539.40
31 2015-07-04    GRA    Blessing     Dell     62    4.99       309.38
32 2014-10-22    GRA    Blessing   Compaq     64    8.99       575.36
33 2014-12-29    GRA      Chioma     Dell     74   15.99      1183.26
34 2014-07-29    GRA      Chioma       HP     81   19.99      1619.19
35 2014-01-06    GRA    Blessing   Lenovo     95    1.99       189.05
36 2015-04-27    GRA     Torbari   Compaq     96    4.99       479.04
37 2015-08-24   Town        Uche    Apple      3  275.00       825.00
38 2015-03-07   Town        Uche       HP      7   19.99       139.93
39 2014-05-22   Town       Tunde   Lenovo     32    1.99        63.68
40 2014-03-15   Town        Uche   Lenovo     56    2.99       167.44
41 2015-10-14   Town       Tunde       HP     57   19.99      1139.43
42 2015-09-27   Town        Uche   Compaq     76    1.99       151.24

In [ ]:
# grouping sales by branch
sales_by_branch_agent=sale_data.groupby(['Branch','Sales Agent'])[{'Units','Total Sales'}].sum().reset_index().sort_values(by='Branch',ascending=True)
print(sales_by_branch_agent)

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.