In [1]:
import pandas as pd

## Hands on practice

#### 1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.

In [16]:
bucket_list=["listening to music", "Eating", "Playing game","Coding","Sleeping"]
my_bucket_list= pd.Series(bucket_list,index=['a','b','c','d','e'])
my_bucket_list.head(6)

a    listening to music
b                Eating
c          Playing game
d                Coding
e              Sleeping
dtype: object

In [15]:
bucket_list=[5,6,3,8,9]
my_bucket_list= pd.Series(bucket_list,index=['a','b','c','d','e'])
my_bucket_list.head(6)

a    5
b    6
c    3
d    8
e    9
dtype: int64

### 2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

In [22]:
biodata={""
"name":"Olayinka Olayemi",
"Age": 27,
"Gender": "male",
"phone":"07030796165",
"Email":"olasquareconsults@gmail.com"
}
my_biodata= pd.Series(biodata)
my_biodata.head(5)
my_biodataDF= pd.DataFrame(my_biodata)
my_biodataDF.head()

                                  0
name               Olayinka Olayemi
Age                              27
Gender                         male
phone                   07030796165
Email   olasquareconsults@gmail.com